*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
/* variables */
:root {
  --color-primary: #234c8b;
  --color-secondary: #f78663;
  --color-tertiary: #f9ff52;
}
html {
  box-sizing: border-box;
  font-size: 58%;
}
body {
  font-family: "Montserrat", sans-serif;
  box-sizing: inherit;
  font-size: 1.6rem;
  color: #2a2a2a;
}

/* bootstrap override */
.btn-primary {
  background-color: var(--color-primary);
}
.color-primary {
}
.btn-secondary {
  background-color: var(--color-secondary);
}
.btn-tertiary {
  background-color: var(--color-tertiary);
}
.color-tertiary {
  color: var(--color-tertiary);
}

/* utilities classes */
.box-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.header-margin {
  margin-bottom: 2rem;
}
.section-title-mb {
  margin-bottom: 2rem;
}
.section-title-mb--problem {
  margin-bottom: 4rem;
}
.u-padding-md-vertical {
  padding: 2rem 0;
}
.u-margin-xs-bottom {
  margin-bottom: 2rem;
}
.u-margin-sm-bottom {
  margin-bottom: 4rem;
}
.u-margin-md-bottom {
  margin-bottom: 6rem;
}
.u-margin-lg-bottom {
  margin-bottom: 8rem;
}
.section-heading {
  font-size: 3.4rem;
  font-weight: 500;
  text-transform: uppercase;
}
.section-gutter {
  margin-bottom: 5rem;
}
/* header */

.header {
  background-color: var(--color-primary);
  background: url("./img/header-bg.png") no-repeat;
  background-size: 100% 100%;

  color: white;
  padding: 0;
}
.abs {
  position: absolute;
  right: 0;
  top: 5.5rem;
  bottom: 0;
  z-index: 1;
}

.header__brand {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 700;
}
.header__brand:hover {
  color: white;
  text-decoration: none;
}
.header__lead {
  font-weight: 600;
  font-size: 4.6rem;
}
.header__description {
  font-size: 2.4rem;
  font-weight: 500;
}
.header__cta {
  background-color: var(--color-secondary);
  color: white;
  border-radius: 3.6rem;
  font-size: 2.4rem;
  padding: 2rem 3rem;
  margin-bottom: 6rem !important;
  font-weight: 600;
}
.header__cta:hover {
  background-color: #f45422;
  border: none;
  color: white;
  text-decoration: none;
}
/* Header Styles
---------------------------------*/

#header_outer {
  padding: 30px 0px;
}

.header_section {
  position: relative;
}

.logo {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 700;
}
.logo a {
  color: white !important;
}
.logo a:hover {
  text-decoration: none;
}
.res-nav_click {
  display: none;
}

/* Top_content
---------------------------------*/

.top_cont_outer {
  background-color: var(--color-primary);
  position: relative;
}

/* .top_cont_inner {
  background: url("img/header-image.png") no-repeat right bottom;
} */

.top_content {
  position: relative;
  padding-top: 50px;
}

.white_pad {
  position: relative;
  right: 0px;
  bottom: 0px;
}

.white_pad img {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.top_left_cont {
  padding: 3rem 2rem;
  margin-bottom: 1rem;
}

.top_left_cont h2 {
  font-weight: 600;
  font-size: 4.6rem;
  color: white;
  text-transform: uppercase;
  line-height: 52px;
  margin-bottom: 2.6rem;
}

.top_left_cont p {
  font-size: 16px;
  color: #888888;
  margin-bottom: 3rem;
  line-height: 26px;
  font-size: 2.4rem;
  font-weight: 500;
  color: white;
}

a.learn_more2 {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  background-color: var(--color-secondary);
  color: white;
  border-radius: 3.6rem;
  font-size: 2.4rem;
  padding: 2rem 3rem;
  font-weight: 600;
}
a.learn_more2:hover {
  background-color: #f45422;
  border: none;
  color: white;
  text-decoration: none;
}

.problem {
  color: #2a2a2a;
}
.problem__outer-container {
  background-color: #f3f3f3;
  padding: 2rem 0;
}
.problem__container {
  margin-top: -4rem;

  border-radius: 1rem;
  padding: 4rem;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
/* custome list style color */
.problem__list {
  list-style: none; /* Remove default bullets */
}

.problem__list li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--color-secondary); /* Change the color */
  font-weight: 800; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1.6rem; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
/* help */
.help {
  background-color: #f3f3f3;
  padding: 4rem 0;
}
.help__card {
  height: 100%;
  border-radius: 1rem;
  padding: 3rem 2.5rem;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.help__icon {
  width: 10.5rem;
  margin-bottom: 1rem;
}
.help__card-title {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}
.help__card-description {
  font-size: 1.4rem;
  font-weight: 300;
  color: #2e2e2e;
  text-align: center;
}
.video__frame {
  border-radius: 1rem;
  height: 350px;
}

/* benefits */
.benefits {
  background-color: #f3f3f3;
  padding: 4rem 0;
}
.benefits__image {
  width: 100%;
}
.benefits__list {
  border-radius: 1rem;
  background-color: #fff;
  list-style: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 3rem 1rem;
}
.benefits__list li {
  margin-bottom: 2rem;
}
.benefits__description {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.benefits__icon {
  width: 5rem;
  margin-right: 2rem;
}

/* contact */
.contact {
  /* background-color: #fff; */
  margin-top: 2rem;
  background: no-repeat url("img/contact-bg.png");
  background-position: center;
  background-size: cover;
  padding-top: 2rem;
  padding-bottom: 8rem;
}
.contact__form {
  /* background-color: #f3f3f3; */

  color: #8a8a8a;
  font-size: 1.8rem;
  font-weight: 400;
  padding-top: 3rem;
  padding-bottom: 6rem;
}
.form__submit {
  cursor: pointer;
  padding: 1rem 8rem;
  font-size: 2.4rem;
  font-weight: 400;
  background-color: var(--color-primary);
  color: white;
  border: none;
  width: 40%;
  padding: 2rem 3rem;

  margin-top: 2rem;
}
.form__label {
  font-size: 1.8rem;
  color: #8a8a8a;
  font-weight: 500;
}
.form__input {
  border-radius: 0.5rem;
  padding: 2.5rem;
  font-size: 1.6rem;
}
.form__input--textarea {
  border-radius: 0.5rem;
  resize: none;
}
/* footer */
.footer {
  position: relative;
  background-color: var(--color-primary);
  background-image: url("./img/Footer\ BG.svg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  color: white;
  z-index: 1000;
  padding: 6rem 0;
}
.footer__input {
  border-radius: 1rem;
  border: 0;
  padding: 1rem;
}

.footer__input:focus {
  outline: none;
}
.form__submit {
  border-radius: 3.6rem;
  font-size: 2.4rem;
  font-weight: 500;
}
.footer__text {
  font-size: 1.4rem;
  font-weight: 400;
}
.mycustom {
  position: relative;
}
.mycustom input[type="text"] {
  border: none;
  width: 100%;
  padding-right: 123px;
}
.mycustom .input-group-prepend {
  position: absolute;
  right: 8px;
  top: 8px;
  bottom: 4px;
  z-index: 9;
}
.info {
  background-color: var(--color-primary);
  color: white;
  font-size: 1.4rem;
}

/* media queries */
@media (min-width: 57.6rem) {
  html {
    font-size: 64.5%;
  }
  .benefits__image {
    width: 105%;
    margin-left: -5rem;
  }
  .header-margin {
    margin-bottom: 4rem;
  }
  /* .contact__form {
    background: linear-gradient(
      to right,
      #f3f3f3 0%,
      #f3f3f3 95%,
      #fff 95%,
      #fff 100%
    );
  } */
}
@media (min-width: 768px) {
  .header-margin {
    margin-bottom: 6rem;
  }
  .video__frame {
    height: 500px;
  }
}
@media (min-width: 992px) {
  .section-title-mb {
    margin-bottom: 8rem;
  }
  .section-title-mb--problem {
    margin-bottom: 8rem;
  }
  .top_left_cont,
  .top_right_cont {
    padding: 6rem 0;
  }
  .top_left_cont h2 {
    margin-bottom: 3rem;
  }
  .top_left_cont p {
    margin-bottom: 4rem;
  }

  .top_cont_outer {
    background: #f9f9f9;
    background-image: url("img/header-bg.png");
    background-position: center;
    background-size: cover;

    height: 100vh;
    position: relative;
  }
  .left-gutter {
    margin-left: 2rem;
  }
  .header-margin {
    margin-bottom: 8rem;
  }
  .problem__outer-container {
    background: linear-gradient(
      to right,
      #f3f3f3 0%,
      #f3f3f3 70%,
      #fff 70%,
      #fff 100%
    );
  }

  .benefits {
    background: linear-gradient(
      to right,
      #f3f3f3 0%,
      #f3f3f3 70%,
      #fff 70%,
      #fff 100%
    );
  }
  .help {
    background: linear-gradient(
      to left,
      #f3f3f3 0%,
      #f3f3f3 70%,
      #fff 70%,
      #fff 100%
    );
  }
}
@media (min-width: 1200px) {
  .left-gutter {
    margin-left: 3rem;
  }
}
@media (min-width: 1366px) {
  .left-gutter {
    margin-left: 13rem;
  }
}
@media (min-width: 1440px) {
  .left-gutter {
    margin-left: 13rem;
  }
}
@media (min-width: 1600px) {
  .left-gutter {
    margin-left: 23rem;
  }
}
@media (min-width: 1920px) {
  .left-gutter {
    margin-left: 39rem;
  }
}
